*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  gap: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100%;
  padding-bottom: 6px;
  max-width: 196px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  border: 0;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__textfield {
  all: unset;
  background-color: #1b1919;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #fff;;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  white-space: nowrap;
  overflow: hidden;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  background-color: #1b1919;
  color: white;
  border: 1px solid white;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
  cursor: pointer;
}

.more-button {
  min-height: 34px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item {
  padding: 0 3px;
}

.result__video-container,
.content__list-container {
  position: relative;
}